[run]
branch = True
source =
    ../../sdk
omit =
    */test*
    */tests/*
    */__pycache__/*
    */venv/*
    */env/*
    */.venv/*
    */__init__.py

[paths]
source =
    ../../sdk
    */sdk

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    raise NotImplementedError
    if __name__ == .__main__.:
    pass
    raise ImportError 