.idea
/.env
.vscode

*.DS_Store
*.egg-info
*.pyc

__pycache__/
sdk/build
uploads/
/sdk/nexent/core/nlp/baidu_stopwords.txt

docker/elasticsearch
docker/minio
docker/postgresql
docker/redis_data
docker/uploads
docker/openssh-server
docker/volumes/db/data
docker/.env
docker/.run
docker/deploy.options
k8s/helm/.deploy.options

frontend_standalone/
.pnpm-store/
frontend-dist/

model-assets/

# Test coverage reports
*coverage_html
*.pytest_cache
*.coverage
*coverage.xml
